.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 61.8vh; */
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

@media (min-width: 768px) {
  .filterRowPortfolio {
    position: absolute;
    right: 10px;
    top: 50px;
  }
}
